:root {
    --black: #000;
    --olive: #6D7A5E;
    --brown: #1D1D1B;
    --gray: #565656;
    --beige: #D2C9B5;
    --white: #FFF;
    --silver: #D9D9D9;
    --ivory: #EAE6DD;
}


.basket {
    width: 1084px;
    background-color: var(--white);
    border: 7px solid var(--olive);
    margin: 50px auto;
    padding: 73px 40px;
}


.basket-string {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.basket-string-number-cost {
    display: flex;
    gap: 89px;
    font-weight: 400;
    font-size: 24px;
    color: var(--gray);
}

.basket-string-number-cost > span {
    margin-right: 97px;
}

.basket-box-img {
    width: 108px;
}

.basket-info-title {
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
}


.basket-go-shop {
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    display: flex;
}

.basket-go-shop > p {
    padding-left: 7px;
    margin-bottom: 23px;
}

.basket-inner-arrow {
    transform: rotate(-180deg);
    margin-bottom: 23px;
}

.basket-list-product-item {
    background: #FFFFFF;
    border: 1px solid var(--silver);
    padding: 12px;
    margin-bottom: 7px;
}

.basket-box {
    display: flex;
    justify-content: space-between;
}

.basket-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.basket-info-price {
    display: flex;
    align-items: center;
}

.minus-btn, .plus-btn {
    background-color: transparent;
    color: var(--black);
    padding: 12px 22px;
    border: none;
    font-size: 34px;
}

.basket-info-price-item {
    display: flex;
    border: 1px solid var(--black);
    background-color: var(--white);
    margin-right: 158px;

}

.basket-info-price-item-input {
    padding: 7px 5px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    width: 49px;
    text-align: center;
}

.basket-info-price-value {
    font-weight: 600;
    font-size: 24px;
    margin-right: 96px;
}

.basket-bottom-result {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 23px 10px;
    border: 1px solid var(--silver);
}

.basket-bottom-result-descr {
    display: block;
}

.basket-total-price {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 36px;
}

.basket-total-price > span {
    font-weight: 600;
    font-size: 24px;
    margin-left: 60px;
}

.basket-form-btn.button {
    padding: 22px 24px;
    font-weight: 400;
    font-size: 24px;
}

.recommended-products-img {
    width: 265px;
}

.recommended-products-item {
    width: 265px;
}

.recommended-products-list {
    display: flex;
    gap: 43px;
    justify-content: center;
}

.recommended-products-title {
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    padding: 7px 10px 8px 10px;
}

.recommended-products-price {
    text-align: center;
    margin: auto;
}

.item-recommended-products-descr {
    text-align: center;
}

.recommended-title {
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    margin-bottom: 23px;
}

.recommended-products {
    margin-top: 50px;
}


/*==================================================*/

.basket-mobile {
    width: 285px;
    background: var(--ivory);
    padding: 16px 30px 23px 10px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.basket-mobile-list-product-item {
    margin-top: 10px;
}

.basket-mobile-top {
    display: flex;
    gap: 93px;
    border-bottom: 1px solid var(--silver);
    padding-bottom: 17px;
}

.basket-mobile-title {
    font-weight: 400;
    font-size: 16px;
}

.basket-mobile-btn-close {
    background-color: transparent;
    border: none;
}

.basket-mobile-box-img {
    width: 78px;
}

.basket-mobile-box {
    display: flex;
}

.basket-mobile-trash-btn {
    background-color: transparent;
    display: contents;
}

.basket-mobile-info-price-item {
    display: flex;
}

.basket-mobile-info-price {
    display: flex;
    align-items: flex-end;
    margin-top: 36px;
}

.basket-mobile-form-btn {
    font-weight: 400;
    font-size: 11px;
    padding: 15px 22px;
}

.basket-mobile-info-price-item {
    display: flex;
    border: 1px solid var(--black);
    background-color: var(--white);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-right: 43px;
}

.basket-mobile-info-price-item-input {
    padding: 7px 5px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    width: 49px;
    text-align: center;
}

.basket-minus-btn, .basket-plus-btn {
    background-color: transparent;
    color: var(--black);
    padding: 0 6px;
    border: none;
    font-size: 34px;
}

.basket-mobile-box-info {
    margin-left: 6px;
    text-align: left;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}